.container {
    text-decoration-color: black;
    background: white;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    display: inline;
    padding: 0px;
    color: black;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: black;
}


/*coding for the footer section. */

.homeFooter {
    background-color: black;
    text-decoration-color: none;
    color: white;
    margin: 0;
    padding: 0;
}

.footerAbout {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

.footerNewItems {
    text-align: right;
}

@media screen and (max-width: 992px) {
    #main-navbar {
        clear: both;
    }
}